@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DESENVOLVIMENTO</title>
</head>
<body>
    > MENU <
    <div>
        @RenderBody()
    </div>
</body>
</html>
