@{
    ViewBag.Title = "CadPublicacaoTipoRegra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/")Scripts/BackofficeCMS/jRegra.js" type="text/javascript"></script>
}

<div class="row">

    <div class="modalInterna" style="display: none;">
        <img src="@Url.Content("~/Content/Images/loader.gif")" alt="Aguarde..." style="border: 1px solid gray; border-radius: 4px !important; left: 50%; margin-left: -16px; position: absolute; width: 32px; top: 50%; transform: translateY(-50%); " />
    </div>

    <div class="col-md-12">
        <div class="">
            @*portlet-body form*@
            <!-- BEGIN FORM-->
            <form id="frmCadPublicacaoTipoRegra"  class="horizontal-form">

                <input type="hidden" id="PublicacaoTipoRegraId" name="PublicacaoTipoRegraId" value="@ViewBag.PublicacaoTipoRegraId" />

                <div class="form-body tabbable tabbable-custom tabbable-noborder">

                    <!-- Abas -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tabGeral" data-toggle="tab">
                                Geral
                            </a>
                        </li>
                    </ul>
                    <!--/Abas -->
                    <!-- Conteúdo -->
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tabGeral" style="min-height: 500px;">

                            @*<h3 class="form-section">Geral</h3>*@
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Tipo de Publicação</label>
                                        <select id="TipoPublicacao" name="TipoPublicacao" class="bs-select form-control">
                                            <option value="3">Matéria</option>
                                            <option value="2">Notícia</option>
                                            <option value="1">Evento</option>
                                            <option value="4">Artigo</option>
                                            <option value="5">Página</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Regra</label>
                                        <select id="Regra" name="Regra" class="form-control"></select>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Controle de Exibição do Conteúdo</label>
                                        <div class="radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" name="Privado" id="Privado" value="0"> Público
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="Privado" id="Privado" value="1"> Privado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--/Conteúdo -->

                </div>

                <div style="width: 100%; text-align: right; margin-top: 0px; border-top: 1px solid lightgray; padding-top: 5px; ">
                    <button type="button" id="btnSalvarPublicacaoTipoRegra" class="btn green" title="Vincular Regra"><i class="fa fa-check"></i> Salvar</button>
                    <button type="button" id="btnFecharPublicacaoTipoRegra" onclick="javascript: history.go(-1);" class="btn default">Voltar</button>
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
