
<div class="modal fade" id="CadArquivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:20000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload de Arquivo</h4>
            </div>
            <div class="modal-body">

                <form id="frmArquivo" >
                    <input type="reset" value="Limpar" id="btnLimpar" style="display:none;"/>
                    <input type="hidden" id="OwnerId" name="OwnerId" />
                    <input type="hidden" id="ArquivoCategoriaTipoId" name="ArquivoCategoriaTipoId" />
                    <input type="hidden" id="ArquivoId" name="ArquivoId" />
                    <input type="hidden" id="PastaId" name="PastaId" />
                    <div class="row" style="margin-bottom: 10px !important;">
                        <div class="form-group">
                            <label class="control-label col-md-3">Legenda</label>
                            <div class="col-md-9">
                                <input id="Legenda" name="Legenda" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 10px !important;">
                        <div class="form-group">
                            <label class="control-label col-md-3">Categoria</label>
                            <div class="col-md-9">
                                <select class="bs-select form-control" id="Categoria" name="Categoria">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="dvImagem" class="row">
                        <div class="form-group ">
                            <label class="control-label col-md-3">Foto</label>
                            <div class="col-md-9">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div id="dvPrev" class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                        <img id="thumbArquivo" src="" alt="" />
                                        <!-- http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image -->
                                    </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new">
                                                Selecionar Arquivo
                                            </span>
                                            <span class="fileinput-exists">
                                                Selecionar Arquivo
                                            </span>
                                            <input type="file" id="fileupload" name="...">
                                        </span>
                                        @*<a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                    Remover
                                </a>*@
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div id="dvImagemNote" class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="clearfix margin-top-10">
                                    <span class="label label-danger">
                                        NOTE!
                                    </span>
                                    &nbsp;Image preview only works in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older browsers the filename is shown instead.
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">

                <button type="button" id="btnSalvarArquivo" class="btn green"><i class="fa fa-check"></i> Enviar</button>
                <button type="button" id="btnFecharPublicacao" class="btn btn-default " data-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>



@*<div class="" id="CadArquivo" tabindex="-1" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="frmArquivo">

        <input type="hidden" id="PublicacaoId" name="PublicacaoId" value="@ViewBag.PublicacaoId" />
        <div class="row" style="margin-bottom: 10px !important;">
            <div class="form-group">
                <label class="control-label col-md-3">Legenda</label>
                <div class="col-md-9">
                    <input id="Legenda" name="Legenda" type="text" class="form-control" />
                </div>
            </div>
        </div>



        <div class="row">
            <div class="form-group ">
                <label class="control-label col-md-3">Foto</label>
                <div class="col-md-9">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                        </div>
                        <div>
                            <span class="btn default btn-file">
                                <span class="fileinput-new">
                                    Selecionar Arquivo
                                </span>
                                <span class="fileinput-exists">
                                    Alterar
                                </span>
                                <input type="file" id="fileupload" name="...">
                            </span>
                            <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                Remover
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class=" margin-top-10">
                        <span class="label label-danger">
                            NOTE!
                        </span>
                        &nbsp;Image preview only works in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older browsers the filename is shown instead.
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" id="btnSalvarArquivo" class="btn green"><i class="fa fa-check"></i> Enviar</button>
                    <button type="button" id="btnFecharPublicacao" class="btn btn-default " data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
        

    </form>

</div>*@