@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Composição</title>

    <script type="text/javascript">
        var AppPath = '@Url.Content("~/")';
    </script>

    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/Rotativo"))
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>*@
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/Calculadora"))


    <script>
        $(function () {
            $("#lblPresidente").val($("#lblPresidente", opener.document.body).val());
            $("#lblCoArbitros1").val($("#lblCoArbitrosX", opener.document.body).val());
            $("#lblCoArbitros2").val($("#lblCoArbitrosX", opener.document.body).val());
            $("#lblTotal").val($("#lblTotal", opener.document.body).val());
            $("#lblRequerente").val($("#lblRequerenteX", opener.document.body).val());
            $("#lblRequerido").val($("#lblRequeridoX", opener.document.body).val());
        });


    </script>
</head>
<body>

    <center>
        <table border="1" cellspacing="0" cellpadding="2" style="font-family: arial; font-size: 12px; text-align: center;">
            <tr>
                <td colspan="2"><b>Honorários do Tribunal Arbitral</b></td>
            </tr>
            <tr style="background-color: lightblue; height: 24px;">
                <td colspan="2">Presidente</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" style="text-align: center; background-color: white; border: none;" id="lblPresidente" /></td>
            </tr>
            <tr style="background-color: lightblue; height: 24px;">
                <td>co-árbitro</td>
                <td>co-árbitro</td>
            </tr>
            <tr>
                <td><input type="text" style="text-align: center; background-color: white; border: none;" id="lblCoArbitros1" disabled /></td>
                <td><input type="text" style="text-align: center; background-color: white; border: none;" id="lblCoArbitros2" disabled /></td>
            </tr>
            <tr style="background-color: lightblue; height: 24px;">
                <td colspan="2" style="text-align: center;">Total</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" style="text-align: center; background-color: white; border: none;" id="lblTotal" /></td>
            </tr>
            <tr style="background-color: lightblue; height: 24px;">
                <td>Requerente(s)</td>
                <td>Requerido(s)</td>
            </tr>
            <tr>
                <td><input type="text" style="text-align: center; background-color: white; border: none;" id="lblRequerente" /></td>
                <td><input type="text" style="text-align: center; background-color: white; border: none;" id="lblRequerido" /></td>
            </tr>
        </table>

    </center>
</body>
</html>
