.l-rotator
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: #CCC;
    border: none;
    position: relative;
    width: 786px;
    height: 285px;
    overflow: hidden;
}

    .l-rotator a
    {
        outline: none;
    }

    .l-rotator .screen
    {
        position: relative;
        top: 0;
        left: 0px;
        width: 600px;
        height: 300px;
        overflow: hidden;
    }

    .l-rotator .main-img
    {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        border: 0;
    }

    .l-rotator .textbox
    {
        position: absolute;
        color: #FFF;
        z-index: 4;
        overflow: hidden;
        visibility: hidden;
    }

    .l-rotator .inner-bg
    {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#0C0;
        -moz-opacity: .0;
        opacity: 0;
        z-index: 0;
    }

    .l-rotator .inner-text
    {
    }

h1
{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    margin: 0;
}

.title
{
	font-size: 12px;
	color: #4d4d4d;
	font-weight:bold;
}

.title:hover
{
	font-size: 12px;
	color: #FFF;
	font-weight:bold;
}

.l-rotator #timer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #FFF;
    -moz-opacity: .5;
    opacity: .5;
    z-index: 5;
    visibility: hidden;
    font-size: 0;
}

.l-rotator .cpanel
{
    position: absolute;
    margin: 5px;
    z-index: 6;
    visibility: hidden;
    background: #000;
    background: rgba(0,0,0,.7);
}

.l-rotator #play-btn
{
    position: relative;
    float: left;
    width: 22px;
    height: 22px;
    background: url(assets/play_pause.png) 0 0 no-repeat;
    cursor: pointer;
    z-index: 1;
}

    .l-rotator #play-btn.pause
    {
        background-position: 0 -22px;
    }

.l-rotator #num-info
{
    position: relative;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 4px;
    text-align: center;
    color: #FFF;
    z-index: 1;
}

.l-rotator #preloader
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    margin-left: -18px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #000 url(assets/loader.gif) no-repeat center;
    background: rgba(0,0,0,.7) url(assets/loader.gif) center no-repeat;
    z-index: 7;
    display: none;
}

.l-rotator .thumbnails
{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 300px;
    overflow: hidden;
    z-index: 10;
}

    .l-rotator .thumbnails ul
    {
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 999999px;
        margin: 0;
        padding: 0;
    }

    .l-rotator .thumbnails li
    {
        position: relative;
        display: block;
        float: left;
        clear: both;
    }

        .l-rotator .thumbnails li a
        {
            display: none;
        }

        .l-rotator .thumbnails li div
        {
            position: relative;
            display: none;
            color: #FFF;
            background-color: #000;
        }

.l-rotator #right-arrow, .l-rotator #left-arrow
{
    position: relative;
    display: block;
    float: left;
    width: 12px;
}

.l-rotator #right-arrow
{
    background: url(assets/select_arrow.png) 0 center no-repeat;
}

.l-rotator #left-arrow
{
    background: url(assets/select_arrow.png) -5px center no-repeat;
}

.l-rotator .thumbnails .thumb
{
	position: relative;
	display: block;
	float: left;
	cursor: pointer;
	width: 240px;
	color: #999;
	overflow: hidden;
	background:url(../imgs/Img_cadeado.png)	no-repeat #FFF;
	background-position: right top;
	border: 1px solid #e2e2e2;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}


.texto-eventos p {font-size:11px; color:#999;}

.l-rotator .thumb img
{
    display: block;
    float: left;
    padding-right: 5px;
}

.l-rotator .thumb p
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
}

.l-rotator .thumbnails li.selected
{
}

.l-rotator .thumbnails li.square
{
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.l-rotator .thumbnails li.selected, .l-rotator .thumbnails li.selected .thumb
{
    background: #d9565b;
}

    .l-rotator .thumbnails li.selected .thumb
    {
        color: #cccccc;
        border-left: none;
        border-right: none;
        border: 1px solid #e2e2e2;
        cursor: default;
    }
	
	
	.l-rotator .thumbnails li.selected .thumb .title
    {
        color: #FFF;
    }
	

.l-rotator .thumbnails li.selected .thumb .data h1 {color: #FFF;}
.l-rotator .thumbnails li.selected .thumb .data h3 {color: #CCC;}

.l-rotator .thumbnails li:hover .thumb
{
    background: #f3cfd1;
}

.l-rotator #scrollbar
{
    position: relative;
    width: 4px;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
}

.l-rotator #knob
{
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    background-color: #333;
    -moz-opacity: .75;
    opacity: .75;
}

.l-rotator .btn-pane
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: url(assets/spacer.png) no-repeat;
    z-index: 2;
    visibility: hidden;
}

.l-rotator #up-btn, .l-rotator #down-btn
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 24px;
    margin-left: -30px;
    background: #DDD url(assets/d_icons.png) no-repeat;
}

.l-rotator #up-btn
{
 
    background-position: center 0;
}

.l-rotator #down-btn
{
    background-position: center -24px;
}

.l-rotator .block, .l-rotator .vpiece, .l-rotator .hpiece
{
}

.l-rotator .strip
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}

.l-rotator .content-box
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.data {float:left; width:30px; padding:0 0 0 20px; height:50px; border-left:1px solid #f5b6b6;margin-left:10px;}
.data h1 {margin:0;color:#cc1f26; font-size:32px; font-weight:bold;text-align:center;}
.data h3 {margin:0;color:#808080; font-size:11px; font-weight:normal;text-align:center;}
